<div class="col-md-6">
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Создать задачу</h3>
    </div>

    <form th:action="@{/tasks/create}" method="post" th:object="${task}">

        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Название</label>
                <input type="text" th:field="*{title}" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Описание</label>
                <input type="text" th:field="*{description}" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="form-group">
                <label for="exampleInputStatus">Статус</label>
                <select  th:field="*{status}" class="custom-select rounded-0" id="exampleInputStatus">
                    <option th:each="s : ${statuses}"
                            th:value="${s}"
                            th:text="${s.label}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>Дедлайн</label>

                <input type="date"
                       class="form-control"
                       name="deadline"
                       th:value="${task.deadline != null ? #temporals.format(task.deadline, 'yyyy-MM-dd') : ''}">
            </div>


            <div class="form-group">
                <label for="exampleSelectRounded0">Проект</label>
                <select th:field="*{project}" class="custom-select rounded-0" id="exampleSelectRounded0">
                    <option th:each="p : ${projects}"
                            th:value="${p.id}"
                            th:text="${p.name}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="assignee">Исполнитель</label>
                <select th:field="*{assigned}" class="custom-select rounded-0" id="assignee">
                    <option th:each="u : ${users}"
                            th:value="${u.id}"
                            th:text="${u.name}">
                    </option>
                </select>
            </div>


        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>
</div>