<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Список задач</h3>
            <div class="card-tools">
                <a th:href="@{/tasks/create}" class="btn btn-block btn-outline-primary btn-sm">Создать задачу</a>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Название</th>
                    <th>Проект</th>
                    <th style="width: 40px">Статус</th>
                    <th>Исполнитель</th>
                    <th>Действие</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="t : ${tasks}">
                    <td th:text="${t.id}"></td>
                    <td th:text="${t.title}"></td>
                    <td th:text="${t.project.name}"></td>
                    <td th:text="${t.status.label}"></td>
                    <td th:text="${t.assigned != null ? t.assigned.name : '-'}"></td>

                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" th:href="@{/tasks/{id}(id=${t.id})}">
                            <i class="fas fa-folder">
                            </i>
                            View
                        </a>
                        <a class="btn btn-info btn-sm" th:href="@{/tasks/{id}/edit(id=${t.id})}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
<!--                        <a class="btn btn-danger btn-sm" th:href="@{/tasks/{id}/edit(id=${task.id})}">-->
<!--                            <i class="fas fa-trash">-->
<!--                            </i>-->
<!--                            Delete-->
<!--                        </a>-->
                    </td>

                </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>
