<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мои задачи</title>
</head>
<body>

<h1>Мои задачи</h1>

<table border="1">

    <tr>
        <th>Название</th>
        <th>Статус</th>
        <th>Действие</th>
    </tr>

    <tr th:each="t : ${tasks}">
        <td th:text="${t.title}"></td>
        <td th:text="${t.status}"></td>

        <td>
            <a th:href="@{/tasks/{id}(id=${t.id})}">Открыть</a>
        </td>
    </tr>

</table>

<br/>

<a href="/tasks">Назад</a>

</body>
</html>