<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Список пользователей</h3>
            <div class="card-tools">
                <a th:href="@{/users/create}" class="btn btn-block btn-outline-primary btn-sm">Создать пользователя</a>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Имя</th>
                    <th>login</th>
                    <th>Почта</th>
                    <th>Роли</th>
                    <th>Действия</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="u : ${users}">
                    <td th:text="${u.id}"></td>
                    <td th:text="${u.name}"></td>
                    <td th:text="${u.username}"></td>
                    <td th:text="${u.email}"></td>
                    <td>
                        <span th:each="role : ${u.roles}"
                              th:text="${role.label + ' '}">
                        </span>
                    </td>
                    <td>
                        <a th:href="@{/users/{id}/edit(id=${u.id})}" class="btn btn-outline-info">Редактировать</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>
