<div class="col-md-6">
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Создать проект</h3>
    </div>

    <form th:action="@{/projects/create}" method="post" th:object="${project}">

        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Название</label>
                <input type="text" th:field="*{name}" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Описание</label>
                <input type="text" th:field="*{description}" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputStatus">Статус</label>
                <input type="text" th:field="*{status}" class="form-control" id="exampleInputStatus">
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>

    </form>
</div>
</div>