<!--<h1>Создать проект</h1>-->

<!--<form th:action="@{/projects/create}" method="post" th:object="${project}">-->

<!--    <div>-->
<!--        <label>Название:</label>-->
<!--        <input type="text" th:field="*{name}" />-->
<!--    </div>-->

<!--    <div>-->
<!--        <label>Описание:</label>-->
<!--        <input type="text" th:field="*{description}" />-->
<!--    </div>-->

<!--    <div>-->
<!--        <label>Статус:</label>-->
<!--        <input type="text" th:field="*{status}" />-->
<!--    </div>-->

<!--    <button type="submit">Сохранить</button>-->

<!--</form>-->

<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Создать проект</h3>
    </div>
    <div class="card-body">
        <form th:action="@{/projects/create}" method="post" th:object="${project}" id="createProject">
            <input class="form-control form-control-lg" type="text" th:field="*{name}" placeholder="Название">
            <br>
            <input class="form-control" type="text" th:field="*{description}" placeholder="Описание">
            <br>
            <input class="form-control form-control-sm" type="text" th:field="*{status}" placeholder="Статус">
        </form>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-outline-success float-right btn-sm" form="createProject">Сохранить</button>
    </div>



</div>
