<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project</title>
</head>
<body>

<h1 th:text="${project.name}"></h1>

<p th:text="${project.description}"></p>

<hr>

<h3>Прогресс проекта</h3>

<span th:text="${progress} + '%'"></span>
<div class="col-md-3">
    <div class="progress">
        <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only" th:text="${progress} + '%'"></span>
        </div>
    </div>
</div>

<hr>

<h3>Общее количество часов</h3>
<p th:text="${hours}"></p>

<hr>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Задачи проекта
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Название</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${tasks}">
                <td th:text="${t.id}"></td>
                <td th:text="${t.title}"></td>
                <td th:text="${t.status.label}"></td>

            </tr>

            </tbody>
        </table>
    </div>
</div>