<!DOCTYPE html>

<html lang="ru" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: head}"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!--    Header -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-gray-dark elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <img src="/dist/img/boxed-bg.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">SoftManage</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="/cub.jpeg" class="img-circle elevation-4" alt="User Image">
                </div>
                <div class="info" sec:authorize="isAuthenticated()">
                    <a href="#" class="d-block"> Привет, <span sec:authentication="principal.fullName"></span>!</a>
                </div>
            </div>



            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="nav-icon fas fa-greater-than"></i>
                            <p>
                                Главная
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/users}" sec:authorize="hasAnyAuthority('ADMIN')" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                Пользователи
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/projects}" sec:authorize="hasAnyAuthority('ADMIN','MANAGER','DEVELOPER')" class="nav-link">
                            <i class="nav-icon fas fa-project-diagram"></i>
                            <p>
                                Проекты
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/tasks/kanban}" sec:authorize="hasAnyAuthority('ADMIN','MANAGER','DEVELOPER')" class="nav-link">
                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                Канбан
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/tasks}" sec:authorize="hasAnyAuthority('ADMIN','MANAGER','DEVELOPER')" class="nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>
                                Задачи
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/tasks/my}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Мои задачи
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a th:href="@{/time}" sec:authorize="hasAnyAuthority('ADMIN','MANAGER','DEVELOPER')" class="nav-link">
                            <i class="nav-icon fas fa-clock"></i>
                            <p>
                                Учёт времени
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>


    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
<!--                <div class="row mb-2">-->
<!--                    <div class="col-sm-6">-->
<!--                        <h1 class="m-0">Starter Page</h1>-->
<!--                    </div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--                    <div class="col-sm-6">-->
<!--                        <ol class="breadcrumb float-sm-right">-->
<!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                            <li class="breadcrumb-item active">Starter Page</li>-->
<!--                        </ol>-->
<!--                    </div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--                </div>&lt;!&ndash; /.row &ndash;&gt;-->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <div class="content dark">
            <div class="container-fluid">

                <div th:insert="~{${page}}"></div>

            </div>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!--    Footer-->
<!--    <div th:replace="fragments/footer :: footer"></div>-->

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<script src="/plugins/chart.js/Chart.min.js"></script>
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>


<th:block th:replace="~{${page} :: scripts} ?: ~{}"></th:block>

</body>
</html>